@page "/"
@using BlazorApp.Components
@using BlazorApp.Resources;

<PageTitle>Index</PageTitle>

<div class="alert alert-warning">
    @(DataDictionary.AlertLang)
</div>
<div class="card-body shadow-sm rounded-3">
    <h5 class="card-title">@(DataDictionary.CardTitle)</h5>
    <p class="card-body " style="text-align:justify">
        @(DataDictionary.CardBody)
    </p>
    <a href="https://en.wikipedia.org/wiki/Soundex" target="_blank" class="btn btn-primary">@(DataDictionary.CardBtn)</a>
</div>

<div class="py-3">
    <SoundexSearch></SoundexSearch>
</div>


@{
}