@page "/"
@using BlazorApp.Components

<PageTitle>Index</PageTitle>


<div class="card-body shadow-sm rounded-3">
    <h5 class="card-title">What is soundex?</h5>
    <p class="card-body " style="text-align:justify">
        Soundex is a phonetic algorithm for indexing names by sound, as pronounced in English. 
        The goal is for homophones to be encoded to the same representation so that they can be 
        matched despite minor differences in spelling. The algorithm mainly encodes consonants;
        a vowel will not be encoded unless it is the first letter. Soundex is the most widely known 
        of all phonetic algorithms (in part because it is a standard feature of popular database software 
        such as IBM Db2, PostgreSQL, MySQL, SQLite, Ingres, MS SQL Server, Oracle. and SAP ASE.) 
        Improvements to Soundex are the basis for many modern phonetic algorithms.
    </p>
    <a href="https://en.wikipedia.org/wiki/Soundex" target="_blank" class="btn btn-primary">More here!</a>
</div>

<div class="py-3">
    <SoundexSearch></SoundexSearch>
</div>


@{
}