@inject NavigationManager navigationManager

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">SoundexDemo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="cursor:pointer" @onclick="GotoHome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://en.wikipedia.org/wiki/Soundex" target="_blank">Algorithm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://github.com/Husseinbeygi/XSoundex" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void GotoHome()
    {
        navigationManager.NavigateTo("/");
    }
}
